.col-1 {
    border-top: 1px solid black;
}

.col-10 {
    padding-left: 0px;
    padding-right: 0px;
}

.input {
    background-color: #355c7d;
    border: 1px solid black;

}

.btn {
    background-color: darkblue;
    color: white;
}

