.col-1 {
    border-top: 1px solid #49657b;
}

.col-10 {
    padding-left: 0px;
    padding-right: 0px;
}

.input {
    background-color: #476c8a;
    border: 1px solid #49657b;
}

.btn {
    margin-top: 12px;
    background-color: #4279a3;
    color: white;
}

